**/.rush/temp/
*.log
*.pid
*.pid.lock
*.py[co]
*.seed
*.tgz
*~
.*.sw[po]
.DS_Store
.cache/
.env
.eslintcache
CHANGELOG.*
build/
dist/
node_modules/
npm-debug.log*
package-lock.json
pnpm-lock.yaml
justfile
**/dist/
